<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWWAVE</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>NEWWAVE</h1>
    <img src="http://127.0.0.1:5000/static/flower.jpeg" alt="" style="height: 100px; width: 75px; border-radius: 15px;">
    <img src="http://127.0.0.1:5000/static/flower.jpeg" alt="" style="height: 75px; width: 100px; border-radius: 50px;">

    <div class="advert">
    <h1>Find the Perfect Job for You</h1>
    </div>
</div>
</body>
</html>